#div2 form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p:hover {
  text-decoration: underline;
}
h1 {
    color: blue;
    font-size: 50px;
}
h3 {
    font-size: 20px;
}
#div1 {
    width: 450px;
    left: 250px;
    position: relative;
    top: 150px;
}
#div2 {
    display: flex;
    width: 370px;
    height: 370px;
    left: 750px;
    position: relative;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    top: -80px;
    box-shadow: 5px 7px 4px 2px rgb(196, 196, 196);
    border-radius: 20px;
    

}
#div2 input {
    margin: 10px;
    width: 320px;
    height: 35px;
    color: white;
    font-weight: bolder;
}
#sub1 {
 background-color: rgb(127, 127, 255);
 width: 150px;
}
#div2 p {
    text-align: center;
    color: blue;
}
body {
    background-color: #f2f4f7;
}
#cc {
    background-color: lime;
    width: 170px;
    height: 35px;
    color: white;
    font-weight: bolder;
}
